matplotlib==3.4.2
numpy==1.19.5
omegaconf==2.1.0
pandas==1.2.4
pytorch_lightning==1.4.4
scikit_learn==1.0.1
sentence_transformers==2.0.0
setuptools==47.1.0
six==1.15.0
tensorflow==1.15.2
torch==1.9.0+cu111
torch_optimizer==0.1.0
torchtext==0.10.0
torchvision==0.10.0+cu111
tqdm==4.62.3
transformers==4.12.5
