torch==1.7.1
numpy>=1.19.4
pandas>=1.2.0
dill
scipy
sklearn
tensorboard
tqdm>=4.54.1
transformers==4.5.0
wandb
pytorch_lightning>=1.1.0
omegaconf>=2.0.5
torchvision
matplotlib

black==20.8b1
flake8==3.9.1

dataclasses>=0.6